pyvis==0.1.9
Unidecode==1.1.1
altair==4.1.0
pandas==1.1.3
requests==2.23.0
streamlit==0.85.1
numpy==1.18.4
seaborn==0.11.1
matplotlib==3.3.3
tqdm==4.50.2
networkx==2.5
nltk==3.5
beautifulsoup4==4.9.3
